.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
}
.app .count {
    margin-bottom: 2rem;
    text-align: center;
    /* display: flex; */
    background-color: #00bcd470;
    margin-left: 13.6rem;
    width: 100px;
    border-radius: 50%;
    height: 100px;
}
.app .count h3 {
    /* line-height: 8.6rem; */
    /* margin-right: 1rem; */
    margin-top: 11px;
}
.app .count h1 {
    font-size: 3em;
    margin-top: 0rem;
}
.app .buttons button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: none;
    background-color: #00bcd421;
    margin: 0 5rem;
    color: #00bcd4;
    font-size: 5em;
    box-shadow: 0 4px 32px 0 rgb(10 14 29 / 2%), 0 8px 64px 0 rgb(10 14 29 / 8%);
    cursor: pointer;
}
.app .buttons button:hover{
    background-color: black;
}
.app .buttons button:focus{
    outline: 0;
}
.product-img img {
    width: 74px !important;
}
.product-img img {
    width: 250px !important;
}
.productCard {
    padding: 10px;
    margin: 10px;
}
.margin{
    margin-top: 70px;
}